apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-api-vector-config
  labels:
    app: nginx-api
    component: vector
data:
  vector.toml: |
    [sources.nginx_access]
    type = "file"
    include = ["/var/log/nginx/access.log"]
    read_from = "beginning"

    [transforms.parse_json]
    type = "remap"
    inputs = ["nginx_access"]
    source = '''
    . = parse_json!(.message)
    '''

    [sinks.opensearch]
    type = "elasticsearch"
    inputs = ["parse_json"]
    endpoints = ["http://opensearch-cluster-master.opensearch.svc.cluster.local:9200"]
    api_version = "v8"
    healthcheck = true
    bulk.index = "logtool-%Y-%m-%d"
